.fileItem {
  border: solid #393939 1px;
  padding: 12px;
  border-radius: 2px;
  margin-bottom: 6px;
  height: 50px;
  display: flex;
  align-items: center;

  .name {
    width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    margin-right: 12px;
  }

  .size, .compressedSize {
    color: #94febf;
    width: 60px;
  }

  .compressedSize {
    text-align: right;
  }

  .progress {
    width: 250px;
    height: 20px;
    border: solid #94febf 1px;
    border-radius: 2px;
    overflow: hidden;

    .progressInner {
      height: 100%;
      background: #94febf;
      overflow: hidden;
    }

    .progressStatus {
      position: absolute;
      width: 250px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      color: #000000;

      &.primary {
        color: #94febf;
      }
    }
  }

  .percent {
    margin-left: 12px;
  }
}